#bo_home {
    color: black;
    text-decoration: none;
}

#b_home{
    border-radius: 1.25rem;
    border: none;
    background-color: #84AF97;
    width: 20.1875rem;
    height: 6.125rem;
    font-size: 2rem;
    border-top: 10rem;
    font-weight: 700;
    display:inline-block;
    position:absolute;
    top:77%;
    left:16%;
    transform: translate(-10%, -250%);
}

#jogos_emais {
    background-image: url(https://i.pinimg.com/originals/bc/9c/e6/bc9ce6285140b008c5735535987ea170.png);

}

#jogos_emais {
    text-align: center;
    min-height: 80rem;
    background-color: #f0f0f0; 
    padding: 1rem;
  }
  
.trio {
    align-items: center;
    position: relative;
    display: inline-block; 
    vertical-align: top; 
}
  
.trio img {
    margin: 2rem;
    padding-top: 15rem;
    max-width: 100%;
}

.coisas_t {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.coisas_tt {
    text-decoration: none;
    color: black;
    font-size: 1.7rem;
    font-weight: 700;
}

#explicacaotrio {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}
  
#uma_vez{
    text-align: center;
    font-size: 4rem;
}
  
#inicio {
    background-color: #84AF97;
    padding: 12rem;
}

#inicioo {
    display: flex;
}

#uma_vez {
    margin-top: -5rem;
}

#pag_p{
    text-align: justify;
    font-size: 2.6rem;  
    margin-top: 10rem;
    margin-right: 14rem;
}

#mundoimg img {
    margin-left: 70rem;
    margin-top: 10rem;
}
  
#produtores img {
    padding: 10;
}
  
#produtores {
    display: flex;
    background-color: #C0DBB6;
}

#produtores h1 {
    font-size: 5rem;
    margin-left: 30rem;
    margin-top: 7rem;
}

#produtores p {
    text-align: justify;
    font-size: 2rem;
    margin-top: 37rem;
    margin-right: 10rem;
    margin-left: -45rem;
}

#consumidores {
    display: flex;
    background-color: #C0DBB6; 
}

#consumidores h1 {
    font-size: 5rem;
    margin-left: 30rem;
    margin-top: 7rem;
}

#consumidores p {
    text-align: justify;
    font-size: 2rem;
    margin-top: 18rem;
    margin-right: 16rem;
    margin-left: -45rem;
}

#decompositores {
    display: flex;
    background-color: #C0DBB6;
}

#decompositores h1 {
    font-size: 5rem;
    margin-left: 25rem;
    margin-top: 7rem;
}

#decompositores p {
    text-align: justify;
    font-size: 2rem;
    margin-top: 30rem;
    margin-right: 10rem;
    margin-left: -50rem;
}

#auto_h {
    background-color: #C0DBB6;
}

#auto_h_01 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.autotrofos {
    display: flex;
}

#auto_h_01 img {
    width: 50rem;
    height: auto;
    margin-top: 10rem;
    border-radius: 10px;
}

.auto_h_t {
    margin-top: 5rem;
    width: 31.5rem;
    text-align: center;
    font-size: 2rem;
}

.texto_auto {
    display: flex;
    gap: 3rem;
    font-size: 2rem;
    margin-bottom: 10rem;
}

.auto_h_p1 {
    width: 30rem;
    
}

.auto_h_p2 {
    width: 30rem;
}

#teia_cadeia {
    background-color: #84AF97;
    height: 100vh;
}

.container{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#teia_cadeia img {
    margin-block: 3rem;
    width: 100%;
}

#teia_cadeia p {
    font-size: 1.5rem;
    font-weight: 500;
}

.tct {
    display: inline-block;
    margin-left: 15rem;
    align-content: center;
    width: 30rem;
    height: 20rem;
}

.tct p {
    font-size: 3rem;
    font-weight: 700;
}

.final {
    background-color: #C0DBB6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    width: 120px;
    height: auto;
    position: relative;
    top: -70px;
    left: 35px;
}

.logo h2 {
    font-size: 40px;
    color: #508668;
    margin-bottom: 2rem;
}


a.botaofaleconosco  {
    text-decoration: none;
    font-size: 2rem;
    background: #C0DBB6;
    color: #508668;
    font-weight: 800;
    border: 1px solid #C0DBB6;
}

a.sobreoecosync  {
    font-size: 2rem;
    background: #C0DBB6;
    color: #508668;
    font-weight: 800;
    text-decoration: none;
    border: 1px solid #C0DBB6;
}

.fale {
    display: flex;
    gap: 6rem;
}

.redes {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.instalink img {
    width: 60px;
}

.ttlink img {
    width: 80px;
    position: relative;
    left: 5px;
}

.facelink img {
    width: 60px;
}

#sol_flor {
    background-image: url(https://i.pinimg.com/originals/1a/43/17/1a43176668b12d33f80be6eac41579f1.png);
    background-size: cover;
    padding: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.a_bioticos-es{
    background-color: #f0f0f0;
    width: 300px;
    height: 400px;
    padding: 6rem;
    border-radius: 15px;
}

.a_bioticos-di{
    background-color: #f0f0f0;
    width: 300px;
    height: 400px;
    padding: 6rem;
    border-radius: 15px;
}


#sol_flor h1{
    font-size: 36px;
    text-align: center;

}

#sol_flor p{
    text-align: center;
    font-size: 15px;
}