header {
  position: fixed;
  height: 7rem;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
}
    
.headerlogo {
  width: 6rem;
  height: 6rem;
  margin-top: 0.40rem;
  margin-right: 70rem;
}
  
.botao {
  font-size: 1.75rem;
  margin-right: 2rem;
  background-color: #00000000;
  color: #000000;
  border: none;
  font-weight: 800;
  text-decoration: none;
}
  
.botaoheader {
  margin-top: 2.3rem;
  margin-left: 44rem;
  text-align: center;
  font-family: Open Sans;
  font-size: 2rem;
  font-style: normal;
  line-height: normal;
}

#pessoal {
  display: flex;
  background-image: url(https://i.pinimg.com/originals/1a/43/17/1a43176668b12d33f80be6eac41579f1.png);
  padding: 10rem;
}

#pessoal img {
  width: 53.8rem;
  height: 53.8rem;
}

#pessoal p {
  margin-top: 2rem;
  font-size: 2.3rem;
  font-weight: 500;
  align-content: center;
  margin-left: 12rem;
}