header {
    position: fixed;
    height: 7rem;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    }
    
  .headerlogo {
    width: 6rem;
    height: 6rem;
    margin-top: 0.40rem;
    margin-right: 70rem;
  }
  
  .botao {
    font-size: 1.75rem;
    margin-right: 2rem;
    background-color: #00000000;
    color: #000000;
    border: #C0DBB6;
    font-weight: 800;
    text-decoration: none;
  }
  
  .botaoheader {
    margin-top: 2.3rem;
    margin-left: 44rem;
    text-align: center;
    font-family: Open Sans;
    font-size: 2rem;
    font-style: normal;
    line-height: normal;
  }

  #videotelavideo {
    margin-top: rem ;
  }


  .videos {
    display: flex;
    background-color: #84AF97;
    flex-direction: column;
    align-items: center;
    border-bottom: 3rem;
  }

.h2videos {
  
}